{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="StyleInicio_Sesión">
    <form action="{% url 'Aplicacion:inicio_sesion' %}" method="post">
        {% csrf_token %}
        <fieldset><br><br>
            <center><legend>INICIO DE SESIÓN</legend></center>
            <br>

            
            <div class="imagen-container">
                <img src="{% static 'Iconos/usuario2.gif' %}" alt="Login" class="imagen-login" />
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <div class="botones-sesion">
                <button type="submit" class="btn-registro">Iniciar Sesión</button>
                <a href="{% url 'Aplicacion:registro' %}" class="btn-registro">
                    Registrarse
                </a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}