{% extends "base.html"%}
{% load static %}

{% block content %}

<div class="StyleContrasena">
    <center>
        <form action="javascript:void(0);" onsubmit="generarContrasena()">
        <fieldset>
            <legend>Crear Contrasena</legend>
            <input type="number" name="char_length" placeholder="Longitud de la contrasena" min="1" max="20" required>
            <input type="number" name="min_nums" placeholder="Números mínimos" min="0" max="20" required>
            <input type="number" name="min_minus" placeholder="Letras minúsculas mínimas" min="0" max="20" required>
            <input type="number" name="min_mayus" placeholder="Letras mayúsculas mínimas" min="0" max="20" required>
            <input type="number" name="min_simbolos" placeholder="Símbolos mínimos" min="0" max="20" required>
        </fieldset>
        <br><input type="submit" value="Generar Contrasena">
        <fieldset>
            <legend>Contrasena</legend>
            <input type="text" name="contrasena" placeholder="su contrasena es: ">
        </fieldset><br><br>
    </form>
</center>
</div>

<script src="{% static 'js/generador_contrasena.js' %}"></script>

{% endblock %}
